<section>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
        <mat-form-field appearance="fill" color="accent">
            <mat-label>Your email</mat-label>
            <input type="email" email matInput formControlName="email" />
            <mat-error *ngIf="loginForm.get('email')?.value">Email is invalid.</mat-error>
            <mat-error *ngIf="!loginForm.get('email')?.value">Field must not be empty.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" color="accent">
            <mat-label>Your password</mat-label>
            <input type="password" matInput formControlName="password" />
            <mat-error *ngIf="!loginForm.get('password')?.value"
                >Field must not be empty.</mat-error
            >
        </mat-form-field>
        <button type="submit" mat-raised-button color="accent" [disabled]="!loginForm.valid">
            Login
        </button>
    </form>
</section>
