@import "../../variables.scss";

.burgerMenu {
  display: none;
}

mat-icon {
  color: $green-color;
}

a {
  text-decoration: none;
  color: $green-color;
  margin: 0px 10px;
  cursor: pointer;
}

.logoutBtn {
  position: absolute;
  bottom: 16px;
  color: $green-color;
  font-size: 1.6rem;
  margin-left: 10px;
}

a:hover {
  opacity: 0.7;
}

.sideNavLinks {
  display: flex;
  flex-direction: column;
  a {
    padding-top: 32px;
    font-size: 1.6rem;
    cursor: pointer;
    display: flex;
  }
  mat-icon {
    padding-right: 10px;
    font-size: 1.3rem;
  }
}

mat-toolbar {
  justify-content: space-between;
  .toolBarMenu {
    display: flex;
  }
  .logo {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .toolBarLinks {
    display: none;
  }
  .burgerMenu {
    display: block;
  }
  .logo {
    position: absolute;
    right: 10px;
  }
}
